.input_block {
    position: relative;
}

.input_block input {
    width: 446px;
    padding: 10px;
    font-size: 15px;
}

.input_block img {
    position: absolute;
    top: 20%;
    right: 2%;
    cursor: pointer;
}