.forecastContent {
    overflow-y: scroll;
    max-height: 500px;
}

.forecastContent h2 {
    font-size: 30px;
    margin: 30px 0 30px 15px;
}

.forecastBlock {
    border: 1px solid black;
    margin: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.forecast_dateTime, .forecast_tempImg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.forecast_dateTime p, .forecast_tempImg p {
    font-size: 15px;
}

.forecastBlock ul {
    list-style-type: none;
    padding: 0;
}

.forecastTemp {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dateTime, .tempImg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

.forecast_img  p {
    margin: 0;
    padding: 0;
}