.main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.main_info {
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid black;
}

.add_favorite {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    background: transparent;
    border: 1px solid black;
    cursor: pointer;
    padding: 16px;
    font-size: 15px;
}

.main_info_forecast {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}

.main_info_forecast h2 {
    margin: 30px 0 0 15px;
    font-size: 35px;
}

.main_info_forecast img {
    align-self: center;
}

.main_info_forecast{
    margin-left: 10px;
}

.add_favorite button {
    margin-right: 15px;
    cursor: pointer;
    border: none;
    background: transparent;
}
.add_favorite_icon {
    font-size: 30px;
}

.add_favorite_icon:hover {
    color: red;
}

.buttons > .active {
    background: #000;
    color: #fff;
}

.favList {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.favList ul {
    font-size: 20px;
    margin: 0;
    padding-left: 15px;
}

.favList h3 {
    border-bottom: 1px solid #000;
    padding: 0 0 5px 10px;
}

.favList h3, .add_favorite h3 {
    font-size: 25px;
    font-weight: 400;
}

