.container {
  width: 470px;
  height: auto;
  margin: 50px auto 0 auto;
  display: flex;
  flex-direction: column;
}

.input_block {
  position: relative;
}

.input_block input {
  width: 446px;
  padding: 10px;
  font-size: 15px;
}

.input_block button {
  border: none;
}

.input_block button {
  position: absolute;
  top: 20%;
  right: 2%;
  cursor: pointer;
  background-color: transparent;
}

.input_block_search_icon {
  font-size: 25px;
}

.input_block_search_icon:hover {
  color: red;
}